<div class="jumbotron">
    @*Maze image is based on the image found at http://en.wikipedia.org/wiki/File:Simple_Maze.svg*@
    <img src="~/Content/maze-with-footprints.png" alt="maze with footprints" width="200" height="125"/>
    <h1>MazeAgent</h1>
    <p class="lead">A MAZE+XML experiment.</p>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>About</h2>
        <p>Maze+XML is a media type for communicating maze information. This server is an experiment for a number of facets including implementing a hypermedia
        API and exploring Microsoft Azure websites.</p>
        <p>More information about Maze+XML can be found at <a href="http://amundsen.com/media-types/maze/">http://amundsen.com/media-types/maze/</a></p>
    </div>
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>The home document can be found <a href="@Url.HttpRouteUrl("maze-home", new { httproute = "" })">here</a></p>
        <p></p>
    </div>
</div>
