<div class="container">
    <div class="col-lg-8 col-lg-offset-2 text-center">
        <div class="logo">
            <h1>The answer is 42!</h1>
            <h2>Now to figure out the problem</h2>
        </div>
    </div>
</div>
