<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <customErrors defaultRedirect="Error/UnhandledError" mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="404" redirect="Error/Handle404"/>
    </customErrors>

  </system.web>
</configuration>
